.logo-img {
    display: flex;
    flex-direction: row;
    justify-content: center;
    height: auto;
}

body {
  font-family: sans-serif;
  font-size: 12px;
}

.navbar {
    background-color: #FFFFFF;
    display: flex;
    justify-content: space-around;
}

  /* Dropdown Button */
  .dropbtn {
    padding: 16px;
    background-color: #FFFFFF;

    border: none;
  }
  
  /* The container <div> - needed to position the dropdown content */
  .dropdown {
    position: relative;
    display: inline-block;
  }
  
  /* Dropdown Content (Hidden by Default) */
  .dropdown-content {
    display: none;
    position: absolute;
    background-color: #f1f1f1;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
  }
  
  /* Links inside the dropdown */
  .dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
  }
  
  /* Change color of dropdown links on hover */
  .dropdown-content a:hover {background-color: #ddd;}
  
  /* Show the dropdown menu on hover */
  .dropdown:hover .dropdown-content {display: block;}

  .hero-img {
    background-image: src("https://images.squarespace-cdn.com/content/v1/50ce46ece4b01020c34fd52b/1556997200333-KXTNN82SA1OF8UVDR6UW/ke17ZwdGBToddI8pDm48kEvNQT6O-2bNXVq9G_geSGwUqsxRUqqbr1mOJYKfIPR7LoDQ9mXPOjoJoqy81S2I8N_N4V1vUb5AoIIIbLZhVYxCRW4BPu10St3TBAUQYVKcjPTufazTNYIXE-ZbLtIkF-b0EZzB6dvd8WvoBrsCEUzRNvk6lrXHAvDN0QjofzDc/usboba_homepage.jpg?format=2500w");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    width: 100%;
    margin-bottom: 8px;
    }

    .hero-img > img {
      width: 100%;
    }

.image-row {
  margin: 0 8px 0 8px;
  padding: 0;
  list-style: none;
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.image-row-3 > li {
  width: calc(100% / 3);
  margin: 8px;
}

.image-row-6 > li {
  width: calc(100vw / 6);
  height: calc(100vw / 6);
  margin: 8px;
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
}

.image-row > li > img {
  width : 100%;
}

.image-row > li.landscape > img {
  width : auto;
  height: 100%;
}

h1 {
  font-size: 1.75em;
}

.mission-statement {
  display: flex;
  flex-direction: row;
  justify-content: center;
  padding: 1.5em;
}

.other-row > li {

}



